
#img img{
    width:300px;
    height:300px;
    
    }
#nav2{
      text-align: center;
    }
#nav2 img{
      height:100px;
      width:100px;
      margin:10px 40px 0px 40px;
      text-align: center;
    }
#nav2 p{
      margin-left:40px;
      text-align: center;
    }
    
#nav2 a{
      text-decoration: none;
      background-color: transparent;
      color:black;
    }
.row img:hover{
      height:240px;
      transition: width 2s;
}
#nav2 img:hover{
    height:105px;
    }
#navbar-brand{
  font-size: xx-large;
}
#login_img{
  width:530px; height:300px;
}
#login_form{
  width:300px;
  height:400px;
}
.product-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
  justify-content: space-between; /* Space items evenly along the main axis */
  list-style: none; /* Remove list styles */
  padding: 0;
}

.product-item {
   
  flex: 1; /* Grow to fill available space evenly */
   /* Limit item width to avoid overcrowding */
  margin: 10px; /* Add spacing between items */
  border: 1px solid #ccc; /* Add a border for visual separation */
  padding: 10px;
  text-align: center;
}
#button:hover{
  background-color:rgb(17, 240, 17);
}

/* Style the "Buy Now" button */
.buy-now-button {
  display: block;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

@media(max-width:740px){
#nav2 img{
      display: inline;
      border-radius:25%;
      height:100px;
      width:200px;
      padding-left:10px;
      padding-right:20px;
    }
#nav2 p{
      padding-left:15px;
    }
#navbar-brand{
      font-size: large;
    }
/* #login_img{
  width:170px;
}
#login_form{
  width:250px;
  height:400px;
} */
    }
